{% extends 'base.html' %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}
<h1>{{user.username}}</h1>
<p><strong>First name: </strong>{{user.first_name}}</p>
<p><strong>Last name: </strong>{{user.last_name}}</p>
<p><strong>Email address: </strong>{{user.email}}</p>

{% if feedback %}
<h3>Feedback</h3>
    {% for post in feedback %}
    <div class="border border-secondary rounded my-2 p-3">
        <h5>{{post.title}}</h5>
        <p>{{post.content}}</p>
        {% if session['username'] == user.username %}
        <div>
            <a class='btn btn-primary' href="/feedback/{{post.id}}/update">Edit</a>
            <form class='d-inline' action="/feedback/{{post.id}}/delete" method="POST">
                <button class='btn btn-danger'>Delete</a>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}

{% if session['username'] == user.username %}
<a class='btn btn-success my-2' href="/users/{{user.username}}/feedback/add">Add feedback</a>
<form action="{{user.username}}/delete" method="POST">
    <button class='btn btn-danger my-1'>Delete user</a>
</form>
{% endif %}

{% endblock %}